body {
    /* Chrome 10+,Safari */
background : -webkit-radial-gradient(center center,circle farthest-corner, rgb(255, 255, 255) 13%, rgb(215, 215, 215) 86%);

/* Firefox 4+ */ 
background : -moz-linear-gradient(center center,circle farthest-corner, rgb(255, 255, 255) 13%, rgb(215, 215, 215) 86%);

/* Opera */
background : -o-linear-gradient(center center,circle farthest-corner, rgb(255, 255, 255) 13%, rgb(215, 215, 215) 86%);

/* IE 10+ */
background : -ms-linear-gradient(center center,circle farthest-corner, rgb(255, 255, 255) 13%, rgb(215, 215, 215) 86%); 

/* W3C */
background : -linear-gradient(center center,circle farthest-corner, rgb(255, 255, 255) 13%, rgb(215, 215, 215) 86%);
}

input {
    width: 20em;
    height: 15em;
}

div {
    font-family: sans-serif;
}

h1 {
    color: #363636;
}