/* 
    Document   : style
    Created on : 07-Mar-2013, 15:08:57
    Author     : Ray Hammond
    Description:
        CSS styles for a matching game written using HTML5.

	Messed with for MathMory-App by René Krick & Thorben Dittmar
*/

root { 
    display: block;
}

body {
	margin: 20px 0px 0px 0px;
	background-image: url(img/bg.gif);
	display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
}

body article#game {
	width: /*600px*/90%;
	margin: 0 auto;
}

header div {
	height: 40px;
	font-size: 18px;
	color: #f5f5f5;
	padding-top: 15px;
}

#board {
	padding-top: /*10px*/;
    width: /*570px*/;
    height: /*450px*/;
	background-color: rgb(228, 223, 208);
}

header div {
	text-align: center;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: #f5f5f5;
}

.tile {
	float:left;
	width: 100px;
	height: 100px;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 1px solid #cfcfcf;
	cursor: pointer;
}

.tile img {
	display: block;
	margin: 0 auto;
	padding-top: 25px;
	width: 50px;
}

.tileColor1 {
	 background-color: #2c2e36;
}

.tileColor2 {
	 background-color: #2c2e36;
}

.tileColor3 {
	 background-color: #2c2e36;
}

.tileColor4 {
	 background-color: #2c2e36;
}


.tileColor5 {
	 background-color: #2c2e36;
}